src/backend_n8n.json
{
    "nodes": [
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "9032fe27-886b-4e05-a012-fbdfd5771692",
            "name": "Responder Arquivos",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2688,
                1440
            ]
        },
        {
            "parameters": {
                "jsCode": "const rows = $input.all().map(i => i.json);\n\nif (rows.length === 0 || (rows.length === 1 && rows[0].id_imagem === 'sem_arquivo')) {\n  return [{ json: { success: true, files: [], total: 0 } }];\n}\n\nconst byEndereco = {};\nconst allFiles = [];\n\nfor (const row of rows) {\n  if (!row.id_imagem) continue;\n\n  const id = row.id_imagem;\n  const detalhe = row.detalhe || 'comprovante';\n  const endereco = row.endereco || '';\n  const idPasta = row.id_pasta || '';\n\n  const isVideo = detalhe.includes('video') || detalhe.includes('gravacao');\n  const isPdf   = detalhe.includes('relatorio') || detalhe.includes('pdf') || detalhe.includes('apresentacao') || detalhe.includes('zip');\n  const isImage = !isVideo && !isPdf;\n\n  const file = {\n    id_imagem: id,\n    id_pasta: idPasta,\n    detalhe,\n    endereco,\n    isImage,\n    isVideo,\n    isPdf,\n    thumbnailUrl: isImage ? `https://drive.google.com/thumbnail?id=${id}&sz=w800` : null,\n    previewUrl: `https://drive.google.com/file/d/${id}/preview`,\n    viewUrl: `https://drive.google.com/file/d/${id}/view`,\n    downloadUrl: `https://drive.google.com/uc?id=${id}&export=download`\n  };\n\n  allFiles.push(file);\n\n  const key = endereco || '_sem_endereco';\n  if (!byEndereco[key]) byEndereco[key] = [];\n  byEndereco[key].push(file);\n}\n\nreturn [{ json: {\n  success: true,\n  files: allFiles,\n  files_by_endereco: byEndereco,\n  total: allFiles.length\n}}];"
            },
            "id": "9159d96c-9d22-4652-90f2-294f6614782e",
            "name": "Formatar Arquivos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2896,
                1440
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "SELECT\n  ci.id_imagem,\n  ci.id_pasta,\n  ci.detalhe,\n  ci.endereco,\n  ci.n_pi\nFROM `sheetsintegration-451500.form_checking.checking_imagens` ci\nWHERE ci.submission_id = '{{ $json.body.submission_id }}'\n  AND ci.id_imagem != 'sem_arquivo'\nORDER BY ci.detalhe, ci.endereco",
                "options": {}
            },
            "id": "68f94847-dd1b-4609-8814-1cbfbfe13110",
            "name": "BigQuery - Buscar Imagens",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -3104,
                1440
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// SHA-256 puro JS - zero dependencias, funciona em qualquer versao do n8n\n// Se voce tem amor a sua vida, nao mexa nisso!\nfunction sha256(message) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n  const mathPow = Math.pow;\n  const maxWord = mathPow(2, 32);\n  let lengthProperty = 'length';\n  let i, j;\n  let result = '';\n  const words = [];\n  const asciiBitLength = message[lengthProperty] * 8;\n  let hash = [];\n  const k = [];\n  let primeCounter = k[lengthProperty];\n  const isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) isComposite[i] = candidate;\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1/3) * maxWord) | 0;\n    }\n  }\n  message += '\\x80';\n  while (message[lengthProperty] % 64 - 56) message += '\\x00';\n  for (i = 0; i < message[lengthProperty]; i++) {\n    j = message.charCodeAt(i);\n    if (j >> 8) return '';\n    words[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  words[words[lengthProperty]] = ((asciiBitLength / maxWord) | 0);\n  words[words[lengthProperty]] = asciiBitLength;\n  for (j = 0; j < words[lengthProperty];) {\n    const w = words.slice(j, j += 16);\n    const oldHash = hash.slice(0);\n    for (i = 0; i < 64; i++) {\n      const w15 = w[i - 15], w2 = w[i - 2];\n      const a = hash[0], e = hash[4];\n      const temp1 = hash[7]\n        + (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25))\n        + ((e & hash[5]) ^ (~e & hash[6]))\n        + k[i]\n        + (w[i] = i < 16 ? w[i] : (\n          w[i - 16]\n          + (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3))\n          + w[i - 7]\n          + (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))\n        ) | 0);\n      const temp2 = (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22))\n        + ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n      hash.length = 8;\n    }\n    hash = hash.map((h, i) => (h + oldHash[i]) | 0);\n  }\n  for (i = 0; i < 8; i++) {\n    for (j = 3; j + 1; j--) {\n      const b = (hash[i] >> (j * 8)) & 255;\n      result += ((b < 16) ? 0 : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\nfunction simpleHash(password, salt) {\n  let h = sha256(salt + password);\n  for (let i = 0; i < 1000; i++) h = sha256(h + salt + i);\n  return h;\n}\n\nfunction randomHex(len) {\n  let result = '';\n  const chars = '0123456789abcdef';\n  for (let i = 0; i < len; i++) result += chars[Math.floor(Math.random() * 16)];\n  return result;\n}\n\nfunction generateUUID() {\n  const h = randomHex(32);\n  return `${h.slice(0,8)}-${h.slice(8,12)}-4${h.slice(13,16)}-${(parseInt(h[16],16)&3|8).toString(16)}${h.slice(17,20)}-${h.slice(20,32)}`;\n}\n\nconst body = $items('Validar Dados')[0].json.body;\nif (!body.password) throw new Error('MISSING_FIELDS: password');\n\nconst salt = randomHex(32);\nconst hash = simpleHash(body.password, salt);\n\nreturn [{ json: { body: {\n  id: generateUUID(),\n  name: body.name,\n  email: body.email,\n  password_hash: salt + ':' + hash,\n  role: body.role || 'analyst',\n  avatar: body.avatar || null,\n  status: 'active'\n}}}];"
            },
            "id": "084de728-bafe-4d96-a9ba-0866a811cdef",
            "name": "Criptografar Senha",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2656,
                704
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: false, error: \"Email ja cadastrado\" } }}",
                "options": {
                    "responseCode": 409
                }
            },
            "id": "5b740f8f-32ac-4ab3-9372-66bdb7557b57",
            "name": "Responder Email Duplicado",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2640,
                864
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "email-livre",
                            "leftValue": "={{ Number($json.total) }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "5a218e07-8e69-4dfb-862a-ecdec792a670",
            "name": "Check Email Livre",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2896,
                752
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "SELECT COUNT(*) AS total FROM `sheetsintegration-451500.form_checking.users` WHERE LOWER(email) = LOWER('{{ $json.body.email }}')",
                "options": {}
            },
            "id": "1d86f111-9584-46de-977e-938b73f5da7b",
            "name": "BigQuery - Verificar Email",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -3104,
                752
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true } }}",
                "options": {}
            },
            "id": "76d29098-f9fe-450e-a192-6df65962aea6",
            "name": "Responder Status",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2896,
                1264
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "UPDATE `sheetsintegration-451500.form_checking.users`\nSET status = '{{ $json.body.status }}'\nWHERE id = '{{ $json.body.userId }}'",
                "options": {}
            },
            "id": "846fd06b-a89e-41f0-a811-be7cb239aef0",
            "name": "BigQuery - Atualizar Status",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [
                -3104,
                1264
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true } }}",
                "options": {}
            },
            "id": "0ee81e9b-92eb-4431-9b3a-5a730f005e56",
            "name": "Responder Cargo",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2896,
                1104
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "UPDATE `sheetsintegration-451500.form_checking.users`\nSET role = '{{ $json.body.newRole }}'\nWHERE id = '{{ $json.body.userId }}'",
                "options": {}
            },
            "id": "d190217b-c163-4e5f-a4e8-93956d0aee7d",
            "name": "BigQuery - Atualizar Cargo",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [
                -3104,
                1104
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, users: $input.all().map(i => i.json) } }}",
                "options": {}
            },
            "id": "c40c16b8-b29b-4bec-90d0-60dca11aba1b",
            "name": "Responder Usuarios",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2912,
                928
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "SELECT id, name, email, role, avatar, status, created_at\nFROM `sheetsintegration-451500.form_checking.users`\nORDER BY created_at DESC",
                "options": {}
            },
            "id": "3e10dcb5-7062-4246-92fa-d8fc1a383305",
            "name": "BigQuery - Listar Usuarios",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [
                -3104,
                928
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "function sha256(message) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n  const mathPow = Math.pow;\n  const maxWord = mathPow(2, 32);\n  let lengthProperty = 'length';\n  let i, j;\n  let result = '';\n  const words = [];\n  const asciiBitLength = message[lengthProperty] * 8;\n  let hash = [];\n  const k = [];\n  let primeCounter = k[lengthProperty];\n  const isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (i = 0; i < 313; i += candidate) isComposite[i] = candidate;\n      hash[primeCounter] = (mathPow(candidate, 0.5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1/3) * maxWord) | 0;\n    }\n  }\n  message += '\\x80';\n  while (message[lengthProperty] % 64 - 56) message += '\\x00';\n  for (i = 0; i < message[lengthProperty]; i++) {\n    j = message.charCodeAt(i);\n    if (j >> 8) return '';\n    words[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  words[words[lengthProperty]] = ((asciiBitLength / maxWord) | 0);\n  words[words[lengthProperty]] = asciiBitLength;\n  for (j = 0; j < words[lengthProperty];) {\n    const w = words.slice(j, j += 16);\n    const oldHash = hash.slice(0);\n    for (i = 0; i < 64; i++) {\n      const w15 = w[i - 15], w2 = w[i - 2];\n      const a = hash[0], e = hash[4];\n      const temp1 = hash[7]\n        + (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25))\n        + ((e & hash[5]) ^ (~e & hash[6]))\n        + k[i]\n        + (w[i] = i < 16 ? w[i] : (\n          w[i - 16]\n          + (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3))\n          + w[i - 7]\n          + (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))\n        ) | 0);\n      const temp2 = (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22))\n        + ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n      hash.length = 8;\n    }\n    hash = hash.map((h, i) => (h + oldHash[i]) | 0);\n  }\n  for (i = 0; i < 8; i++) {\n    for (j = 3; j + 1; j--) {\n      const b = (hash[i] >> (j * 8)) & 255;\n      result += ((b < 16) ? 0 : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\nfunction simpleHash(password, salt) {\n  let h = sha256(salt + password);\n  for (let i = 0; i < 1000; i++) h = sha256(h + salt + i);\n  return h;\n}\n\nfunction base64url(str) {\n  if (typeof btoa !== 'undefined') {\n    return btoa(str).replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,'');\n  }\n  return Buffer.from(str,'binary').toString('base64')\n    .replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,'');\n}\n\nfunction hmacSHA256(key, data) {\n  const blockSize = 64;\n  let keyBytes = [];\n  for (let i = 0; i < key.length; i++) keyBytes.push(key.charCodeAt(i));\n  if (keyBytes.length > blockSize) {\n    const hk = sha256(key);\n    keyBytes = [];\n    for (let i = 0; i < hk.length; i += 2) keyBytes.push(parseInt(hk.substr(i,2), 16));\n  }\n  while (keyBytes.length < blockSize) keyBytes.push(0);\n  const oKey = keyBytes.map(b => String.fromCharCode(b ^ 0x5c)).join('');\n  const iKey = keyBytes.map(b => String.fromCharCode(b ^ 0x36)).join('');\n  return sha256(oKey + sha256(iKey + data));\n}\n\nconst users = $input.all().map(i => i.json);\nconst inputPassword = $items('Processar Login')[0].json.passwordInput;\n\nif (users.length === 0) throw new Error('INVALID_CREDENTIALS');\nconst user = users[0];\nif (!user.password_hash?.includes(':')) throw new Error('INVALID_CREDENTIALS');\n\nconst [salt, storedHash] = user.password_hash.split(':');\nconst inputHash = simpleHash(inputPassword, salt);\nif (inputHash !== storedHash) throw new Error('INVALID_CREDENTIALS');\n\nconst JWT_SECRET = 'CHANGE_THIS_SECRET_IN_PRODUCTION';\nconst header  = base64url(JSON.stringify({ alg: 'HS256', typ: 'JWT' }));\nconst payload = base64url(JSON.stringify({\n  sub: user.id, email: user.email, role: user.role, name: user.name,\n  iat: Math.floor(Date.now()/1000),\n  exp: Math.floor(Date.now()/1000) + 28800\n}));\nconst sig = hmacSHA256(JWT_SECRET, header + '.' + payload);\nconst sigBytes = [];\nfor (let i = 0; i < sig.length; i += 2) sigBytes.push(parseInt(sig.substr(i,2), 16));\nconst sigB64 = base64url(String.fromCharCode(...sigBytes));\nconst token = `${header}.${payload}.${sigB64}`;\n\nreturn [{ json: {\n  success: true, token,\n  user: { id: user.id, name: user.name, email: user.email, avatar: user.avatar||null, role: user.role }\n}}];"
            },
            "id": "b5a5ebdd-7349-4193-8d77-645e09ff90bc",
            "name": "Verificar Senha",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2720,
                -416
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "SELECT id, name, email, password_hash, role, avatar\nFROM `sheetsintegration-451500.form_checking.users`\nWHERE email = '{{ $json.email }}'\n  AND status = 'active'\nLIMIT 1",
                "options": {}
            },
            "id": "edf57d44-3c10-4c6b-90c5-51d214bdd08e",
            "name": "BigQuery - Buscar Usuario",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2,
            "position": [
                -2912,
                -416
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const { email, password } = $input.first().json.body;\nreturn [{ json: { email, passwordInput: password } }];"
            },
            "id": "228fff4f-29f2-4993-aec4-6d2173d616d9",
            "name": "Processar Login",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3104,
                -400
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: $json.success, error: $json.error } }}",
                "options": {
                    "responseCode": "={{ $json.statusCode }}",
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "id": "2e498ecf-5d8c-44b8-8c2f-96b30560c744",
            "name": "Responder Erro",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2352,
                -272
            ]
        },
        {
            "parameters": {
                "jsCode": "// Centraliza todos os erros do workflow - nao me obriga a duplicar tratamento em todo lugar\n// Eu sou foda demais, criei tudo isso e tem gente que duvida de mim e foda '-'. Pessoal copia e  cola projeto dos outros enquanto eu faço na mão  toma no qu\nconst error = $input.first().error || {};\nconst errorMessages = {\n  'TOKEN_MISSING':       { code: 401, message: 'Autenticacao necessaria' },\n  'TOKEN_EXPIRED':       { code: 401, message: 'Token expirado, faca login novamente' },\n  'INVALID_TOKEN':       { code: 401, message: 'Token invalido' },\n  'INVALID_CREDENTIALS': { code: 401, message: 'Credenciais invalidas' },\n  'MISSING_FIELDS':      { code: 400, message: error.message },\n  'FORBIDDEN':           { code: 403, message: error.message || 'Acesso negado' },\n  'INVALID_ROLE':        { code: 400, message: error.message || 'Role invalido' },\n  'INVALID_STATUS':      { code: 400, message: error.message || 'Status invalido' }\n};\nconst key = Object.keys(errorMessages).find(k => error.message && error.message.startsWith(k));\nconst errorInfo = key ? errorMessages[key] : { code: 500, message: error.message || 'Erro interno' };\nreturn [{ json: { success: false, error: errorInfo.message, statusCode: errorInfo.code } }];"
            },
            "id": "4963cd85-2f3e-4692-9b7f-5024587bfc1b",
            "name": "Tratador de Erros Global",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2560,
                -272
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { success: true, message: \"Usuario registrado com sucesso\" } }}",
                "options": {}
            },
            "id": "4f6765e7-292d-499a-94ad-924e4ba0ecad",
            "name": "Responder Registro",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2000,
                704
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "INSERT INTO `sheetsintegration-451500.form_checking.audit_log`\n(id, user_id, action, entity, entity_id, payload, ip, created_at)\nVALUES (\n  '{{ $items(\"Criptografar Senha\")[0].json.body.id }}',\n  '{{ $items(\"Criptografar Senha\")[0].json.body.id }}',\n  'register_user',\n  'user',\n  '{{ $items(\"Criptografar Senha\")[0].json.body.id }}',\n  '{{ JSON.stringify({ name: $items(\"Criptografar Senha\")[0].json.body.name, email: $items(\"Criptografar Senha\")[0].json.body.email, role: $items(\"Criptografar Senha\")[0].json.body.role }) }}',\n  '',\n  CURRENT_TIMESTAMP()\n)",
                "options": {}
            },
            "id": "3652069d-a11f-4fd4-87fb-213744092377",
            "name": "BigQuery - Auditoria Registro",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -2192,
                704
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "INSERT INTO `sheetsintegration-451500.form_checking.users`\n(id, name, email, password_hash, role, avatar, status, created_at)\nVALUES\n('{{ $items(\"Criptografar Senha\")[0].json.body.id }}', '{{ $items(\"Criptografar Senha\")[0].json.body.name }}', '{{ $items(\"Criptografar Senha\")[0].json.body.email }}', '{{ $items(\"Criptografar Senha\")[0].json.body.password_hash }}', '{{ $items(\"Criptografar Senha\")[0].json.body.role }}', '{{ $items(\"Criptografar Senha\")[0].json.body.avatar || \"\" }}', '{{ $items(\"Criptografar Senha\")[0].json.body.status }}', CURRENT_TIMESTAMP())",
                "options": {}
            },
            "id": "5de3715d-64ee-4dd3-9889-3bd78567b7fd",
            "name": "BigQuery - Registrar Usuario",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -2432,
                704
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { checkings: $input.all().map(i => i.json) } }}",
                "options": {}
            },
            "id": "c2720c74-a95f-4ee9-8a99-4a81b5572433",
            "name": "Responder Checkings Filtrado",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2912,
                576
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "SELECT\n  submission_id,\n  n_pi,\n  cliente,\n  veiculo,\n  nome_contato,\n  email_contato,\n  meio,\n  total_arquivos,\n  is_complement,\n  webViewLink,\n  status,\n  rejection_count,\n  rejection_reason,\n  approval_user,\n  approved_at,\n  rejected_at\nFROM `sheetsintegration-451500.form_checking.checking_logs`\nWHERE\n  (CAST('{{ $json.body.status || '' }}' AS STRING) = '' OR status = '{{ $json.body.status || '' }}')\n  AND (CAST('{{ $json.body.cliente || '' }}' AS STRING) = '' OR UPPER(cliente) LIKE UPPER('%{{ $json.body.cliente || '' }}%'))\n  AND (CAST('{{ $json.body.n_pi || '' }}' AS STRING) = '' OR n_pi = '{{ $json.body.n_pi || '' }}')\nORDER BY submission_id DESC\nLIMIT 500",
                "options": {}
            },
            "id": "6085698b-b528-4d24-9a1d-948237002d42",
            "name": "BigQuery - Checkings Filtrado",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -3104,
                576
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { checkings: $input.all().map(i => i.json) } }}",
                "options": {}
            },
            "id": "6aacd692-f63c-4a7d-acf7-11227bb196ea",
            "name": "Responder Todos Checkings",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2896,
                400
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "SELECT\n  submission_id,\n  n_pi,\n  cliente,\n  veiculo,\n  nome_contato,\n  email_contato,\n  meio,\n  total_arquivos,\n  is_complement,\n  webViewLink,\n  status,\n  rejection_count,\n  rejection_reason,\n  approval_user,\n  approved_at,\n  rejected_at\nFROM `sheetsintegration-451500.form_checking.checking_logs`\nORDER BY submission_id DESC\nLIMIT 500",
                "options": {}
            },
            "id": "525f816e-c11e-45fc-a837-cb23749ef92e",
            "name": "BigQuery - Todos Checkings",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -3104,
                400
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "36cfebe6-6666-480c-bdef-c488e7c86964",
            "name": "Responder Saude",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2896,
                -544
            ]
        },
        {
            "parameters": {
                "jsCode": "// Health check basico - retorna status dos servicos\n// Se isso quebrar e porque o n8n morreu mesmo\nreturn [{\n  json: {\n    status: 'online',\n    timestamp: new Date().toISOString(),\n    services: { bigquery: 'connected', drive: 'connected', smtp: 'connected' }\n  }\n}];"
            },
            "id": "82dee8c4-ad0c-4ad1-8dfe-10814720c810",
            "name": "Verificar Saude",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3104,
                -544
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "4324c7a9-d2f0-4649-8066-e331bb3c37b1",
            "name": "Responder Login",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2528,
                -432
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Checking reprovado e fornecedor notificado\" } }}",
                "options": {}
            },
            "id": "7a98a3cc-dff9-4c29-b91d-f187aa7b89b2",
            "name": "Responder Reprovacao",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -496,
                176
            ]
        },
        {
            "parameters": {
                "jsCode": "// Monta o HTML do email de reprovacao em JS puro\n// Campo html do emailSend nao aceita expressoes multi-linha com backticks - nao tenta mudar isso\nconst checkingData = $items('BigQuery - Dados do Checking')[0].json;\nconst webhookData = $items('Webhook POST1')[0].json.body;\nconst reason = webhookData.rejection_reason || webhookData.reason || '';\n// Salvar Link PDF so existe se o fluxo passou pelo branch com PDF - usa try/catch\nlet pdfLink = '';\ntry { pdfLink = $items('Salvar Link PDF')[0].json.pdfLink || ''; } catch (e) { pdfLink = ''; }\nconst rejectionCount = Number(checkingData.rejection_count || 0) + 1;\n\nlet html = '<!DOCTYPE html><html><head><style>'\n  + 'body{font-family:Arial,sans-serif;margin:0;padding:20px;background:#f1f5f9}'\n  + '.container{max-width:600px;margin:0 auto;background:#fff;border-radius:8px;overflow:hidden}'\n  + '.rainbow{height:4px;background:linear-gradient(90deg,#ef4444,#f59e0b,#facc15,#10b981,#06b6d4,#3b82f6,#8b5cf6)}'\n  + '.header{background:#1e293b;color:white;padding:32px}'\n  + '.content{padding:32px}'\n  + '.alert{background:#fef2f2;border-left:4px solid #ef4444;padding:16px;margin:20px 0;border-radius:4px}'\n  + '.footer{background:#1e293b;color:#94a3b8;padding:24px;text-align:center;font-size:12px}'\n  + '</style></head><body>'\n  + '<div class=\"rainbow\"></div>'\n  + '<div class=\"container\">'\n  + '<div class=\"header\"><h1 style=\"margin:0;font-size:20px\">Checking Reprovado</h1>'\n  + '<p style=\"margin:4px 0 0;color:#94a3b8\">Tentativa ' + rejectionCount + '</p></div>'\n  + '<div class=\"content\">'\n  + '<div class=\"alert\"><strong>Acao Necessaria</strong>'\n  + '<p style=\"margin:8px 0 0\">O checking foi analisado e nao foi aprovado.</p></div>'\n  + '<p><strong>PI:</strong> ' + checkingData.n_pi + '</p>'\n  + '<p><strong>Cliente:</strong> ' + checkingData.cliente + '</p>'\n  + '<p><strong>Veiculo:</strong> ' + checkingData.veiculo + '</p>'\n  + '<h3>Motivo da Reprovacao:</h3>'\n  + '<div style=\"background:#f8fafc;padding:12px;border-radius:4px\">'\n  + '<p style=\"white-space:pre-wrap;margin:0\">' + reason + '</p></div>';\n\nif (pdfLink) {\n  html += '<div style=\"background:#eff6ff;padding:12px;margin:20px 0;border-radius:4px\">'\n    + '<p style=\"margin:0\"><strong>Documento Anexado:</strong> '\n    + '<a href=\"' + pdfLink + '\" style=\"color:#2563eb\">Ver Documento</a></p></div>';\n}\n\nhtml += '</div>'\n  + '<div class=\"footer\"><p><strong>Grupo OM</strong></p><p>checking@grupoom.com.br</p></div>'\n  + '</div><div class=\"rainbow\"></div></body></html>';\n\nreturn [{ json: { emailHtml: html } }];"
            },
            "id": "5c31454b-d4b8-48f0-80be-40ac97e56080",
            "name": "Montar HTML Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -880,
                176
            ]
        },
        {
            "parameters": {
                "fromEmail": "checking@opusmultipla.com.br",
                "toEmail": "={{ $items('BigQuery - Dados do Checking')[0].json.email_contato }}",
                "subject": "=Checking Reprovado - PI {{ $items('BigQuery - Dados do Checking')[0].json.n_pi }}",
                "html": "={{ $json.emailHtml }}",
                "options": {
                    "appendAttribution": false
                }
            },
            "id": "f619b124-8f6d-46f2-a174-940d5110cae3",
            "name": "Email - Notificacao Reprovacao",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                -688,
                176
            ],
            "webhookId": "82b1f498-374b-4307-8d8f-2c12956254d6",
            "credentials": {
                "smtp": {
                    "id": "wZ8MyCrTRJkSUY1G",
                    "name": "SMTP account"
                }
            }
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "UPDATE `sheetsintegration-451500.form_checking.checking_logs`\nSET\n  status           = 'rejected',\n  approval_user    = '{{ $items('Webhook POST1')[0].json.body.approval_user }}',\n  rejection_reason = '{{ $items('Webhook POST1')[0].json.body.rejection_reason || $items('Webhook POST1')[0].json.body.reason || '' }}',\n  rejection_count  = COALESCE(rejection_count, 0) + 1,\n  rejected_at      = CURRENT_TIMESTAMP(),\n  pdf_link         = '{{ $json.pdfLink || '' }}'\nWHERE submission_id = '{{ $items('Webhook POST1')[0].json.body.id }}'",
                "options": {}
            },
            "id": "fcc7673f-5a96-46e3-b48c-221365f50b2d",
            "name": "BigQuery - Registrar Reprovacao",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -1072,
                176
            ],
            "alwaysOutputData": true,
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "pdfLink",
                            "value": "",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "b1b70d8d-f529-4984-b658-b49dff41f9bf",
            "name": "Sem PDF",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -1376,
                256
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "pdfLink",
                            "value": "={{ $json.webViewLink || '' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "0ede4539-32b8-458b-a6a0-11aa85565935",
            "name": "Salvar Link PDF",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -1280,
                112
            ]
        },
        {
            "parameters": {
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": "={{ $items('Salvar ID Historico')[0].json.historicoFolderId }}",
                "options": {}
            },
            "id": "533a6125-0091-4afb-8b1e-e8f046c7ab2e",
            "name": "Drive - Enviar PDF",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -1488,
                112
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "1c3ApLu5B45cMjkz",
                    "name": "Google Drive account 2"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $binary.pdf_file !== undefined }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "a207cebe-9f90-479b-816c-c3eb57854a4d",
            "name": "PDF Existe",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -1680,
                208
            ]
        },
        {
            "parameters": {
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": "={{ $json.historicoFolderId }}",
                "options": {}
            },
            "id": "b99c70da-c524-40c2-8240-3eed059c21e4",
            "name": "Drive - Enviar Observacao",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -1888,
                208
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "1c3ApLu5B45cMjkz",
                    "name": "Google Drive account 2"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Cria arquivo .txt com o historico de reprovacao para salvar no Drive do fornecedor do cheking\nconst webhookData = $items('Webhook POST1')[0].json.body;\nconst checkingData = $items('BigQuery - Dados do Checking')[0].json;\nconst rejectionReason = webhookData.rejection_reason || webhookData.reason || '';\n\nconst observacaoTexto = `HISTORICO DE REPROVACAO\\n` +\n  `========================\\n\\n` +\n  `PI: ${checkingData.n_pi}\\n` +\n  `Cliente: ${checkingData.cliente}\\n` +\n  `Fornecedor: ${checkingData.nome_contato}\\n` +\n  `Data: ${new Date().toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo'})}\\n\\n` +\n  `MOTIVO DA REPROVACAO:\\n` +\n  `${rejectionReason}\\n`;\n\nreturn [{\n  json: { historicoFolderId: $json.historicoFolderId, hasObservacao: true },\n  binary: {\n    data: {\n      data: Buffer.from(observacaoTexto, 'utf-8').toString('base64'),\n      mimeType: 'text/plain',\n      fileName: `observacao_${Date.now()}.txt`\n    }\n  }\n}];"
            },
            "id": "18fb4326-9f82-473e-be09-56c21ff9fee0",
            "name": "Criar Arquivo Observacao",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2080,
                208
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "historicoFolderId",
                            "value": "={{ $json.id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "95811c0b-590e-4198-84b2-426645fea240",
            "name": "Salvar ID Historico",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -2288,
                208
            ]
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "Historico do fornecedor",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "={{ ($items('BigQuery - Dados do Checking')[0].json.webViewLink || '').includes('/folders/') ? (($items('BigQuery - Dados do Checking')[0].json.webViewLink || '').split('/folders/')[1] || '').split('/')[0].split('?')[0] || 'root' : 'root' }}",
                    "mode": "id"
                },
                "options": {}
            },
            "id": "05f52bda-5444-40e7-81f2-77f8aeaf0c9c",
            "name": "Drive - Criar Pasta Historico",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -2480,
                320
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "1c3ApLu5B45cMjkz",
                    "name": "Google Drive account 2"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "bc4eb09c-17c7-4956-8989-ec4665f30d8c",
            "name": "Historico Existe",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -2704,
                224
            ]
        },
        {
            "parameters": {
                "jsCode": "// Prepara a query de busca da pasta historico no Drive\n// Nao usa expressao no campo do Drive pois o n8n nao suporta multi-linha la\nconst driveLink = $json.webViewLink || '';\nlet driveQuery = \"name='NOT_FOUND' and trashed=true\";\n\nif (driveLink.includes('/folders/')) {\n  const afterFolders = driveLink.split('/folders/')[1] || '';\n  const folderId = afterFolders.split('/')[0].split('?')[0] || 'root';\n  driveQuery = `'${folderId}' in parents and name='Historico do fornecedor' and mimeType='application/vnd.google-apps.folder' and trashed=false`;\n}\n\nreturn [{ json: { ...$json, driveQuery } }];"
            },
            "id": "e2f3efce-e1e5-4101-a364-e600feedcd5b",
            "name": "Preparar Query Drive",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3104,
                224
            ]
        },
        {
            "parameters": {
                "resource": "fileFolder",
                "searchMethod": "query",
                "queryString": "={{ $json.driveQuery }}",
                "filter": {},
                "options": {}
            },
            "id": "7c30444c-11e5-4e8d-9b9d-3665fec81595",
            "name": "Drive - Buscar Pasta Historico",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -2896,
                224
            ],
            "alwaysOutputData": true,
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "1c3ApLu5B45cMjkz",
                    "name": "Google Drive account 2"
                }
            }
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "SELECT\n  submission_id,\n  n_pi,\n  cliente,\n  veiculo,\n  nome_contato,\n  email_contato,\n  meio,\n  webViewLink,\n  rejection_count,\n  observacoes,\n  status\nFROM `sheetsintegration-451500.form_checking.checking_logs`\nWHERE submission_id = '{{ $json.body.id }}'",
                "options": {}
            },
            "id": "cb50186e-27f0-4007-b439-af8376f8b754",
            "name": "BigQuery - Dados do Checking",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -3328,
                -16
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Checking aprovado com sucesso\" } }}",
                "options": {}
            },
            "id": "86b768a2-5c8d-4623-9980-1057279b02d9",
            "name": "Responder Aprovacao",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2688,
                64
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "datasetId": {
                    "__rl": true,
                    "value": "form_checking",
                    "mode": "list"
                },
                "tableId": {
                    "__rl": true,
                    "value": "audit_log",
                    "mode": "list"
                },
                "options": {
                    "ignoreUnknownValues": true
                }
            },
            "id": "ae4ddc73-0b1e-4de1-a299-429195900b9b",
            "name": "BigQuery - Auditoria Aprovacao",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -2896,
                64
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "UPDATE `sheetsintegration-451500.form_checking.checking_logs`\nSET\n  status        = 'approved',\n  approval_user = '{{ $json.body.approval_user }}',\n  approved_at   = CURRENT_TIMESTAMP()\nWHERE submission_id = '{{ $json.body.id }}'",
                "options": {}
            },
            "id": "a64112d0-24df-45c0-b214-87295a696097",
            "name": "BigQuery - Aprovar",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -3104,
                64
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "b3bf04ff-4ed4-4fe6-b7c5-42be31801b73",
            "name": "Responder Pendentes",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2704,
                -80
            ]
        },
        {
            "parameters": {
                "jsCode": "// Agrupa os checkings pendentes num array para o frontend consumir\nconst items = $input.all().map(i => i.json);\nreturn [{ json: { checkings: items } }];"
            },
            "id": "7593d254-9f15-464d-ace0-f6a40ea7b626",
            "name": "Formatar Pendentes",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -2896,
                -80
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "SELECT\n  submission_id,\n  n_pi,\n  cliente,\n  veiculo,\n  nome_contato,\n  email_contato,\n  meio,\n  total_arquivos,\n  is_complement,\n  webViewLink,\n  rejection_count,\n  observacoes,\n  status\nFROM `sheetsintegration-451500.form_checking.checking_logs`\nWHERE status = 'pending'\nORDER BY submission_id DESC\nLIMIT 200",
                "options": {}
            },
            "id": "7864f52c-dd7a-4ecb-a59d-2abfe894f264",
            "name": "BigQuery - Pendentes",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -3104,
                -80
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "5cc042db-c286-4e78-8329-afd952ea9be0",
            "name": "Responder Estatisticas",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -2896,
                -240
            ]
        },
        {
            "parameters": {
                "projectId": {
                    "__rl": true,
                    "value": "sheetsintegration-451500",
                    "mode": "list"
                },
                "sqlQuery": "SELECT\n  COUNTIF(status = 'pending')  AS total_pending,\n  COUNTIF(status = 'approved') AS total_approved,\n  COUNTIF(status = 'rejected') AS total_rejected,\n  COUNT(*)                      AS total_geral,\n  COUNTIF(status = 'pending' AND is_complement = 0) AS novos_pendentes,\n  COUNTIF(status = 'pending' AND is_complement = 1) AS complementos_pendentes\nFROM `sheetsintegration-451500.form_checking.checking_logs`",
                "options": {}
            },
            "id": "baf9854f-7d40-4ffd-8181-98928b3f05ce",
            "name": "BigQuery - Estatisticas",
            "type": "n8n-nodes-base.googleBigQuery",
            "typeVersion": 2.1,
            "position": [
                -3104,
                -240
            ],
            "credentials": {
                "googleBigQueryOAuth2Api": {
                    "id": "hxvtFcUvIi35sayG",
                    "name": "Google BigQuery account 6"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "get_stats",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "get_stats"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "get_pending",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "get_pending"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "approve",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "approve"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "reject",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "reject"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "login",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "login"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "health_check",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "health_check"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "get_all_checkings",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "get_all_checkings"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "get_checkings",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "get_checkings"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "register_user",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "register_user"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "get_users",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "get_users"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "update_user_role",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "update_user_role"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "update_user_status",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "update_user_status"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.action }}",
                                        "rightValue": "get_files",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "get_files"
                        }
                    ]
                },
                "options": {}
            },
            "id": "472d13bf-75d6-4776-9035-7227882f3e89",
            "name": "Roteador de Acoes",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -3328,
                208
            ]
        },
        {
            "parameters": {
                "jsCode": "// Expansao de dominio muryokusho - se mexe ja sabe e-e\n// Valida campos obrigatorios de acordo com o action recebido\n// Valida campos obrigatorios + whitelist de roles + RBAC admin check\nconst { action, body, authenticatedUser } = $input.first().json;\n\nconst schemas = {\n  approve:           { required: ['id', 'approval_user'] },\n  reject:            { required: ['id', 'approval_user', 'reason'] },\n  login:             { required: ['email', 'password'] },\n  register_user:     { required: ['name', 'email', 'password'] },\n  update_user_role:  { required: ['userId', 'newRole'], adminOnly: true },\n  update_user_status:{ required: ['userId', 'status'], adminOnly: true },\n  get_users:         { required: [], adminOnly: true }\n};\n\nconst schema = schemas[action];\nif (schema) {\n  const missing = (schema.required || []).filter(f => !body[f]);\n  if (missing.length > 0) throw new Error('MISSING_FIELDS: ' + missing.join(', '));\n  if (schema.adminOnly && authenticatedUser && authenticatedUser.role !== 'admin') {\n    throw new Error('FORBIDDEN: Acesso restrito a administradores');\n  }\n}\n\nif (action === 'update_user_role') {\n  const allowedRoles = ['admin', 'analyst'];\n  if (!allowedRoles.includes(body.newRole)) {\n    throw new Error('INVALID_ROLE: Role must be admin or analyst');\n  }\n}\n\nif (action === 'update_user_status') {\n  const allowedStatus = ['active', 'inactive'];\n  if (!allowedStatus.includes(body.status)) {\n    throw new Error('INVALID_STATUS: Status must be active or inactive');\n  }\n}\n\nreturn $input.all();"
            },
            "id": "cace0414-fbf3-4ddc-8359-f9445e5d79b0",
            "name": "Validar Dados",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3520,
                224
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "jsCode": "// Cuidado, nao mexe no que nao sabe, pergunta pra mim! Çonstruir isso na mão e do krl \n// Valida JWT assinado com HMAC-SHA256 puro JS\n// Rotas publicas passam sem token: login, health_check, register_user\nfunction sha256(message) {\n  function rightRotate(v,a){return(v>>>a)|(v<<(32-a))}\n  const mp=Math.pow,mw=mp(2,32);let lp='length',i,j,result='';\n  const words=[],abl=message[lp]*8;let hash=[],k=[],pc=k[lp];\n  const ic={};\n  for(let c=2;pc<64;c++){if(!ic[c]){for(i=0;i<313;i+=c)ic[i]=c;hash[pc]=(mp(c,.5)*mw)|0;k[pc++]=(mp(c,1/3)*mw)|0}}\n  message+='\\x80';while(message[lp]%64-56)message+='\\x00';\n  for(i=0;i<message[lp];i++){j=message.charCodeAt(i);if(j>>8)return'';words[i>>2]|=j<<((3-i)%4)*8}\n  words[words[lp]]=((abl/mw)|0);words[words[lp]]=abl;\n  for(j=0;j<words[lp];){const w=words.slice(j,j+=16),oh=hash.slice(0);\n    for(i=0;i<64;i++){const w15=w[i-15],w2=w[i-2],a=hash[0],e=hash[4];\n      const t1=hash[7]+(rightRotate(e,6)^rightRotate(e,11)^rightRotate(e,25))+((e&hash[5])^(~e&hash[6]))+k[i]+(w[i]=i<16?w[i]:(w[i-16]+(rightRotate(w15,7)^rightRotate(w15,18)^(w15>>>3))+w[i-7]+(rightRotate(w2,17)^rightRotate(w2,19)^(w2>>>10)))|0);\n      const t2=(rightRotate(a,2)^rightRotate(a,13)^rightRotate(a,22))+((a&hash[1])^(a&hash[2])^(hash[1]&hash[2]));\n      hash=[(t1+t2)|0].concat(hash);hash[4]=(hash[4]+t1)|0;hash.length=8}\n    hash=hash.map((h,i)=>(h+oh[i])|0)}\n  for(i=0;i<8;i++)for(j=3;j+1;j--){const b=(hash[i]>>(j*8))&255;result+=((b<16)?0:'')+b.toString(16)}\n  return result;\n}\n\nfunction hmacSHA256(key, data) {\n  const bs=64;let kb=[];for(let i=0;i<key.length;i++)kb.push(key.charCodeAt(i));\n  if(kb.length>bs){const hk=sha256(key);kb=[];for(let i=0;i<hk.length;i+=2)kb.push(parseInt(hk.substr(i,2),16))}\n  while(kb.length<bs)kb.push(0);\n  const ok=kb.map(b=>String.fromCharCode(b^0x5c)).join('');\n  const ik=kb.map(b=>String.fromCharCode(b^0x36)).join('');\n  return sha256(ok+sha256(ik+data));\n}\n\nconst { action } = $input.first().json;\nconst headers = $input.first().json.headers || {};\nif (['login','health_check','register_user'].includes(action)) return $input.all();\n\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst token = authHeader.startsWith('Bearer ') ? authHeader.slice(7).trim() : '';\nif (!token) throw new Error('TOKEN_MISSING');\n\nconst parts = token.split('.');\nif (parts.length !== 3) throw new Error('INVALID_TOKEN');\nconst [hdr, pay, sig] = parts;\n\nconst JWT_SECRET = 'CHANGE_THIS_SECRET_IN_PRODUCTION';\nconst expectedHex = hmacSHA256(JWT_SECRET, `${hdr}.${pay}`);\nconst expBytes = [];\nfor (let i = 0; i < expectedHex.length; i+=2) expBytes.push(parseInt(expectedHex.substr(i,2),16));\n\nfunction base64url(str){\n  if(typeof btoa!=='undefined')return btoa(str).replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,'');\n  return Buffer.from(str,'binary').toString('base64').replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,'');\n}\nconst expectedSig = base64url(String.fromCharCode(...expBytes));\nif (sig !== expectedSig) throw new Error('INVALID_TOKEN');\n\nlet data;\ntry {\n  const padded = pay.replace(/-/g,'+').replace(/_/g,'/');\n  if(typeof atob!=='undefined') data = JSON.parse(atob(padded));\n  else data = JSON.parse(Buffer.from(padded,'base64').toString('utf8'));\n} catch { throw new Error('INVALID_TOKEN'); }\n\nif (data.exp && Math.floor(Date.now()/1000) > data.exp) throw new Error('TOKEN_EXPIRED');\n\nconst items = $input.all();\nitems[0].json.authenticatedUser = data;\nreturn items;"
            },
            "id": "331ce4e7-697d-4b50-9472-35a689d98b57",
            "name": "Autenticar Requisicao",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3664,
                352
            ],
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// SANITIZADOR DE INPUT — Prevencao de SQL Injection\n// Escapa aspas simples em TODOS os campos do body\n// Roda ANTES de qualquer query BigQuery\n// ============================================================\nfunction sanitize(val) {\n  if (val === null || val === undefined) return '';\n  if (typeof val !== 'string') return String(val);\n  return val\n    .replace(/'/g, \"\\\\'\")\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/[\\x00-\\x1f]/g, '');\n}\n\nfunction sanitizeObj(obj) {\n  if (!obj || typeof obj !== 'object') return obj;\n  const clean = {};\n  for (const [k, v] of Object.entries(obj)) {\n    if (typeof v === 'object' && v !== null) {\n      clean[k] = sanitizeObj(v);\n    } else {\n      clean[k] = sanitize(v);\n    }\n  }\n  return clean;\n}\n\nconst items = $input.all();\nconst item = items[0].json;\nitem.body = sanitizeObj(item.body || {});\nitem.query = sanitizeObj(item.query || {});\nreturn items;"
            },
            "id": "fbe2e204-5e88-45ab-98f7-47b2def58698",
            "name": "Sanitizar Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3840,
                352
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "painel-aprovacao",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "id": "ebf49ba1-f2a2-4387-9535-abb2cbe43a7a",
            "name": "Webhook POST1",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -4368,
                448
            ],
            "webhookId": "painel-aprovacao-api"
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "painel-aprovacao",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, POST, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "id": "61e17c9c-e941-4547-8bb2-a1227a1a0954",
            "name": "Webhook OPCOES CORS1",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -4368,
                272
            ],
            "webhookId": "painel-aprovacao-options"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "OK",
                "options": {}
            },
            "id": "de72c837-8746-44cd-8e05-d309dc715ce1",
            "name": "Responder CORS1",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -4064,
                176
            ]
        },
        {
            "parameters": {
                "jsCode": "return $input.all();"
            },
            "id": "6569d33a-82cb-4974-a921-0d0031f82bbc",
            "name": "Passar Adiante1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -4160,
                352
            ]
        },
        {
            "parameters": {
                "jsCode": "const { query = {}, body = {} } = $input.first().json;\nconst action = query.action || body.action || 'unknown';\nreturn [{ json: { action, query, body, headers: $input.first().json.headers } }];"
            },
            "id": "40bc5d00-e852-4edc-80d1-4704607debc6",
            "name": "Extrair Requisicao1",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -3984,
                352
            ]
        }
    ],
    "connections": {
        "Formatar Arquivos": {
            "main": [
                [
                    {
                        "node": "Responder Arquivos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Buscar Imagens": {
            "main": [
                [
                    {
                        "node": "Formatar Arquivos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Criptografar Senha": {
            "main": [
                [
                    {
                        "node": "BigQuery - Registrar Usuario",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Email Livre": {
            "main": [
                [
                    {
                        "node": "Criptografar Senha",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Responder Email Duplicado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Verificar Email": {
            "main": [
                [
                    {
                        "node": "Check Email Livre",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Atualizar Status": {
            "main": [
                [
                    {
                        "node": "Responder Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Atualizar Cargo": {
            "main": [
                [
                    {
                        "node": "Responder Cargo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Listar Usuarios": {
            "main": [
                [
                    {
                        "node": "Responder Usuarios",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verificar Senha": {
            "main": [
                [
                    {
                        "node": "Responder Login",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Tratador de Erros Global",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Buscar Usuario": {
            "main": [
                [
                    {
                        "node": "Verificar Senha",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Processar Login": {
            "main": [
                [
                    {
                        "node": "BigQuery - Buscar Usuario",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Tratador de Erros Global",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tratador de Erros Global": {
            "main": [
                [
                    {
                        "node": "Responder Erro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Auditoria Registro": {
            "main": [
                [
                    {
                        "node": "Responder Registro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Registrar Usuario": {
            "main": [
                [
                    {
                        "node": "BigQuery - Auditoria Registro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Checkings Filtrado": {
            "main": [
                [
                    {
                        "node": "Responder Checkings Filtrado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Todos Checkings": {
            "main": [
                [
                    {
                        "node": "Responder Todos Checkings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verificar Saude": {
            "main": [
                [
                    {
                        "node": "Responder Saude",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Montar HTML Email": {
            "main": [
                [
                    {
                        "node": "Email - Notificacao Reprovacao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email - Notificacao Reprovacao": {
            "main": [
                [
                    {
                        "node": "Responder Reprovacao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Registrar Reprovacao": {
            "main": [
                [
                    {
                        "node": "Montar HTML Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sem PDF": {
            "main": [
                [
                    {
                        "node": "BigQuery - Registrar Reprovacao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Salvar Link PDF": {
            "main": [
                [
                    {
                        "node": "BigQuery - Registrar Reprovacao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Drive - Enviar PDF": {
            "main": [
                [
                    {
                        "node": "Salvar Link PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PDF Existe": {
            "main": [
                [
                    {
                        "node": "Drive - Enviar PDF",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Sem PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Drive - Enviar Observacao": {
            "main": [
                [
                    {
                        "node": "PDF Existe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Criar Arquivo Observacao": {
            "main": [
                [
                    {
                        "node": "Drive - Enviar Observacao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Salvar ID Historico": {
            "main": [
                [
                    {
                        "node": "Criar Arquivo Observacao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Drive - Criar Pasta Historico": {
            "main": [
                [
                    {
                        "node": "Salvar ID Historico",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Historico Existe": {
            "main": [
                [
                    {
                        "node": "Salvar ID Historico",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Drive - Criar Pasta Historico",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Query Drive": {
            "main": [
                [
                    {
                        "node": "Drive - Buscar Pasta Historico",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Drive - Buscar Pasta Historico": {
            "main": [
                [
                    {
                        "node": "Historico Existe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Dados do Checking": {
            "main": [
                [
                    {
                        "node": "Preparar Query Drive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Auditoria Aprovacao": {
            "main": [
                [
                    {
                        "node": "Responder Aprovacao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Aprovar": {
            "main": [
                [
                    {
                        "node": "BigQuery - Auditoria Aprovacao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Formatar Pendentes": {
            "main": [
                [
                    {
                        "node": "Responder Pendentes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Pendentes": {
            "main": [
                [
                    {
                        "node": "Formatar Pendentes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BigQuery - Estatisticas": {
            "main": [
                [
                    {
                        "node": "Responder Estatisticas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Roteador de Acoes": {
            "main": [
                [
                    {
                        "node": "BigQuery - Estatisticas",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Pendentes",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Aprovar",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Dados do Checking",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Processar Login",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Verificar Saude",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Todos Checkings",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Checkings Filtrado",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Verificar Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Listar Usuarios",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Atualizar Cargo",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Atualizar Status",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "BigQuery - Buscar Imagens",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validar Dados": {
            "main": [
                [
                    {
                        "node": "Roteador de Acoes",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Tratador de Erros Global",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Autenticar Requisicao": {
            "main": [
                [
                    {
                        "node": "Validar Dados",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Tratador de Erros Global",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitizar Input": {
            "main": [
                [
                    {
                        "node": "Autenticar Requisicao",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook POST1": {
            "main": [
                [
                    {
                        "node": "Passar Adiante1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook OPCOES CORS1": {
            "main": [
                [
                    {
                        "node": "Responder CORS1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Passar Adiante1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Passar Adiante1": {
            "main": [
                [
                    {
                        "node": "Extrair Requisicao1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Requisicao1": {
            "main": [
                [
                    {
                        "node": "Sanitizar Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6b93d26d78f3422a2df7daf09364ceee25a1cd3223a663b1fe4533d415237602"
    }
}